<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Thuto_Pele Tutors</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/img/logo7-removebg-preview.png" rel="icon">
  <link href="/img/logo7-removebg-preview.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />

  <!-- Vendor CSS Files -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/vendor/aos/aos.css" rel="stylesheet">
  <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="/vendor/remixicon/remixicon.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Nova
  * Updated: Mar 10 2023 with Bootstrap v5.2.3
  * Template URL: https://bootstrapmade.com/nova-bootstrap-business-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="page-index">

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <img src="/img/logo7-removebg-preview.png" alt="">
        <h1 class="d-flex align-items-center">Thuto Pele</h1>
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/" class="active">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/find/tutor">Find Tutor</a></li>
          <li><a href="/learner/signup">Sign Up</a></li>
          <li class="dropdown"><a href="#"><span>Sign In</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="/tutor/login">Tutor</a></li>
              <li><a href="/learner/login">Student</a></li>
            </ul>
          </li>
          <li><a href="/become/tutor" class="b-tutor">Become Tutor</a></li>
        </ul>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-xl-4">
          <h2 data-aos="fade-up">Focus On What Matters</h2>
          <blockquote data-aos="fade-up" data-aos-delay="100">
            <p>Education is the most empowering force in the world. It creates knowledge, builds confidence, and breaks down barriers to opportunity.For children, it is their key to open the door to a better life. However, it is a sad reality of our world today that millions of children will never receive this key. They are destined to stay locked in cycles of disadvantage and poverty. Find your tutor and break the chain!</p>
          </blockquote>
          <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
            <a href="/find/tutor" class="btn-get-started">Get Started</a>
            <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
          </div>

        </div>
      </div>
    </div>
  </section><!-- End Hero Section -->

  <main id="main">

    <!-- ======= Why Choose Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Why Choose Us</h2>

        </div>

        <div class="row g-0" data-aos="fade-up" data-aos-delay="200">

          <div class="col-xl-5 img-bg" style="background-image: url('/images/tutorsimg.jpg')"></div>
          <div class="col-xl-7 slides  position-relative">

            <div class="slides-1 swiper">
              <div class="swiper-wrapper">

                <div class="swiper-slide">
                  <div class="item">
                    <h3 class="mb-3">Affordability:</h3>
                    <h4 class="mb-3"></h4>
                    <p>We offer the most affordable rates for top-quality tutoring services. Get an expert Tutor at an affordable price.</p>
                  </div>
                </div><!-- End slide item -->

                <div class="swiper-slide">
                  <div class="item">
                    <h3 class="mb-3">Quality Tutors</h3>
                    <h4 class="mb-3">Expert tutors available for tutoring sessions where you will receive a customized lesson plan to meet your individual needs. Our Tutors have proven track records of success.</h4>
                    <p>
                      We have built an extensive database of qualified professionals across the area and therefore have access to a large number of individuals qualified to teach in a wide variety of subjects. At Education Matters we pride ourselves in sourcing tutors who have excellent credentials regarding your academic needs. We will source a tutor for any subject who can go to your home or office for private lessons
                    </p>
                  </div>
                </div><!-- End slide item -->

                <div class="swiper-slide">
                  <div class="item">
                    <h3 class="mb-3">The Secret to Success</h3>
                    <h4 class="mb-3">All our learners receive FREE mentorship and study skills support. We ensure that all our students have all the skills to pass.</h4>
                    <p>
                      The secret to success in life, be it academic, sports or later in the workplace, is always the same. Hard work, persistence and a good coach or mentor! These elements combine to boost your natural ability and self-esteem.Our tutors focus on your needs in order to help you set achievable goals and will motivate you every step of the way.
                    </p>
                  </div>
                </div><!-- End slide item -->

                <div class="swiper-slide">
                  <div class="item">
                    <h3 class="mb-3">Customized Lessons</h3>
                    <h4 class="mb-3">We understand the unique challenges each of students face whilst learning in class so we eliminate those challenges for better learning experience</h4>
                    <p>
                      One-on-one tuition either online or in the comfort of your own home, has been proven to improve academic results. Our customised lessons mean that you can learn at your own pace, at a time that is convenient to you, and with a teacher who you like. We offer one-on-one or group tuition from foundation phase to tertiary institutions and corporate groups.
                    </p>
                  </div>
                </div><!-- End slide item -->

              </div>
              <div class="swiper-pagination"></div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>

        </div>

      </div>
    </section><!-- End Why Choose Us Section -->

    <!-- ======= Our Services Section ======= -->
    <section id="services-list" class="services-list">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Our Services</h2>

        </div>

        <div class="row gy-5">

          <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="100">
            <div class="icon flex-shrink-0"> <i class="fa-solid fa-user-tie" style="color: #f57813;"></i></div>
            <div>
              <h4 class="title"><a href="#" class="stretched-link">Quality Online Tutors</a></h4>
              <p class="description">We hand pick only top-quality tutors and provide them with training and resources, making them online tutoring masters.Our success depends on our attention to the needs of our clients and truly helping them achieve</p>
            </div>
          </div>
          <!-- End Service Item -->

          <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="200">
            <div class="icon flex-shrink-0"><i class="fa-solid fa-book" style="color: #15a04a;"></i></div>
            <div>
              <h4 class="title"><a href="#" class="stretched-link">Blended-Learning Approach</a></h4>
              <p class="description">In the areas of Maths & Science you have the option to combine tutoring with award-winning technologies to enhance learning! The result is an interactive, exciting, and effective learning solution.
            </p></p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="300">
            <div class="icon flex-shrink-0"><i class="fa-solid fa-eye" style="color: #d90769;"></i></div>
            <div>
              <h4 class="title"><a href="#" class="stretched-link">Accessible Online Learning</a></h4>
              <p class="description">Lessons and tutorials are delivered over the internet & Skype. It therefore doesn’t matter where in South Africa you are, you can still receive top-class online tutoring in the comfort of your own home.</p>
            </div>
          </div><!-- End Service Item -->

          <!-- <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="400">
            <div class="icon flex-shrink-0"><i class="bi bi-binoculars" style="color: #15bfbc;"></i></div>
            <div>
              <h4 class="title"><a href="#" class="stretched-link">Magni Dolores</a></h4>
              <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="500">
            <div class="icon flex-shrink-0"><i class="bi bi-brightness-high" style="color: #f5cf13;"></i></div>
            <div>
              <h4 class="title"><a href="#" class="stretched-link">Nemo Enim</a></h4>
              <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="600">
            <div class="icon flex-shrink-0"><i class="bi bi-calendar4-week" style="color: #1335f5;"></i></div>
            <div>
              <h4 class="title"><a href="#" class="stretched-link">Eiusmod Tempor</a></h4>
              <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
            </div>
          </div> -->

        </div>

      </div>
    </section><!-- End Our Services Section -->

    <!-- ======= Call To Action Section ======= -->
    <section id="call-to-action" class="call-to-action">
      <div class="container" data-aos="fade-up">
        <div class="row justify-content-center">
          <div class="col-lg-6 text-center">
            <h3>Thuto Pele</h3>
            <p>Services exists to help students. We take a unique and innovative approach to finding best suitable tutors that will help students connect with the subject matter they need to master. Through personalized and focussed teaching processes, our students develop the tools they need for ongoing success in their fields of study. Our success depends on our attention to the needs of our clients and truly helping them achieve – we don’t succeed unless our clients succeed.</p>
            <a class="cta-btn" href="#">Call For Help</a>
          </div>
        </div>

      </div>
    </section><!-- End Call To Action Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">

      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-7" data-aos="fade-up" data-aos-delay="100">
            <h3>Powerful Features for <br>Our Tutoring:</h3>

            <div class="row gy-4">

              <div class="col-md-6">
                <div class="icon-list d-flex">
                  <i class="ri-store-line" style="color: #ffbb2c;"></i>
                  <span>Easy Tutoring Features</span>
                </div>
              </div><!-- End Icon List Item-->

              <div class="col-md-6">
                <div class="icon-list d-flex">
                  <i class="ri-bar-chart-box-line" style="color: #5578ff;"></i>
                  <span>Online Tutoring</span>
                </div>
              </div><!-- End Icon List Item-->

              <div class="col-md-6">
                <div class="icon-list d-flex">
                  <i class="ri-calendar-todo-line" style="color: #e80368;"></i>
                  <span>In-Person Tutoring</span>
                </div>
              </div><!-- End Icon List Item-->

              <div class="col-md-6">
                <div class="icon-list d-flex">
                  <i class="ri-paint-brush-line" style="color: #e361ff;"></i>
                  <span>Quality Services</span>
                </div>
              </div><!-- End Icon List Item-->

              <div class="col-md-6">
                <div class="icon-list d-flex">
                  <i class="ri-database-2-line" style="color: #47aeff;"></i>
                  <span>Best Tutors Available</span>
                </div>
              </div><!-- End Icon List Item-->

              <div class="col-md-6">
                <div class="icon-list d-flex">
                  <i class="ri-gradienter-line" style="color: #ffa76e;"></i>
                  <span>Powerful Guidance</span>
                </div>
              </div><!-- End Icon List Item-->

              <div class="col-md-6">
                <div class="icon-list d-flex">
                  <i class="ri-file-list-3-line" style="color: #11dbcf;"></i>
                  <span>Quality Mentorship</span>
                </div>
              </div><!-- End Icon List Item-->

              <div class="col-md-6">
                <div class="icon-list d-flex">
                  <i class="ri-base-station-line" style="color: #ff5828;"></i>
                  <span>Best Results Guaranteed</span>
                </div>
              </div><!-- End Icon List Item-->
            </div>
          </div>
          <div class="col-lg-5 position-relative" data-aos="fade-up" data-aos-delay="200">
            <div class="phone-wrap">
              <img src="/img/Mix/iStock-818785992_high.jpg" alt="Image" class="img-fluid">
            </div>
          </div>
        </div>

      </div>

      <!-- <div class="details">
        <div class="container" data-aos="fade-up" data-aos-delay="300">
          <div class="row">
            <div class="col-md-6">
              <h4>Labore Sdio Lidui<br>Bonde Naruto</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam nostrum molestias doloremque quae delectus odit minima corrupti blanditiis quo animi!</p>
              <a href="#about" class="btn-get-started">Get Started</a>
            </div>
          </div>

        </div>
      </div> -->

    </section><!-- End Features Section -->

    <!-- ======= Recent Blog Posts Section ======= -->
    <section id="recent-posts" class="recent-posts">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Testimonials:</h2>

        </div>

        <!-- <div class="row gy-5">

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="post-box">
              <div class="post-img"><img src="/img/blog/blog-1.jpg" class="img-fluid" alt=""></div>
              <div class="meta">
                <span class="post-date">Tue, December 12</span>
                <span class="post-author"> / Julia Parker</span>
              </div>
              <h3 class="post-title">Eum ad dolor et. Autem aut fugiat debitis</h3>
              <p>Illum voluptas ab enim placeat. Adipisci enim velit nulla. Vel omnis laudantium. Asperiores eum ipsa est officiis. Modi qui magni est...</p>
              <a href="/blog/details" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
            </div>
          </div>

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="post-box">
              <div class="post-img"><img src="/img/blog/blog-2.jpg" class="img-fluid" alt=""></div>
              <div class="meta">
                <span class="post-date">Fri, September 05</span>
                <span class="post-author"> / Mario Douglas</span>
              </div>
              <h3 class="post-title">Et repellendus molestiae qui est sed omnis</h3>
              <p>Voluptatem nesciunt omnis libero autem tempora enim ut ipsam id. Odit quia ab eum assumenda. Quisquam omnis doloribus...</p>
              <a href="/blog/details" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
            </div>
          </div>

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="post-box">
              <div class="post-img"><img src="/img/blog/blog-3.jpg" class="img-fluid" alt=""></div>
              <div class="meta">
                <span class="post-date">Tue, July 27</span>
                <span class="post-author"> / Lisa Hunter</span>
              </div>
              <h3 class="post-title">Quia assumenda est et veritati</h3>
              <p>Quia nam eaque omnis explicabo similique eum quaerat similique laboriosam. Quis omnis repellat sed quae consectetur magnam...</p>
              <a href="/blog/details" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
            </div>
          </div>

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="post-box">
              <div class="post-img"><img src="/img/blog/blog-4.jpg" class="img-fluid" alt=""></div>
              <div class="meta">
                <span class="post-date">Tue, Sep 16</span>
                <span class="post-author"> / Mario Douglas</span>
              </div>
              <h3 class="post-title">Pariatur quia facilis similique deleniti</h3>
              <p>Et consequatur eveniet nam voluptas commodi cumque ea est ex. Aut quis omnis sint ipsum earum quia eligendi...</p>
              <a href="/blog/details" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
            </div>
          </div>

        </div> -->

        <div class="swiper mySwiper container">
          <div class="swiper-wrapper content">
              <div class="swiper-slide card">
                  <div class="testimonial-col">
                      <div class="user">
                          <img src="/images/GettyImages-1150745014.jpg" alt="">
                          <div class="user-info">
                              <h4>SHARMA JONES <i class="fa fa-twitter"></i></h4>
                              <small>@sharma.jones</small>
                          </div>
                      </div>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur quam nobis debitis sint
                          minus
                          quibusdam ducimus iusto illum dolore dicta modi nostrum, repellat quaerat temporibus
                          consequuntur
                          excepturi iste libero aliquid, ex natus. Cum sint possimus itaque dolorum? Asperiores,
                          accusamus
                          iusto deleniti assumenda ducimus pariatur quae mollitia aliquid odio eos corporis!</p>
                  </div>
              </div>

              <div class="swiper-slide card">
                  <div class="testimonial-col">
                      <div class="user">
                          <img src="/img/qtl0u3br1bcuzktojei9.jfif" alt="">
                          <div class="user-info">
                              <h4>JOEL MAKOLA <i class="fa fa-twitter"></i></h4>
                              <small>@joel_makola</small>
                          </div>
                      </div>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur quam nobis debitis sint
                          minus
                          quibusdam ducimus iusto illum dolore dicta modi nostrum, repellat quaerat temporibus
                          consequuntur
                          excepturi iste libero aliquid, ex natus. Cum sint possimus itaque dolorum? Asperiores,
                          accusamus
                          iusto deleniti assumenda ducimus pariatur quae mollitia aliquid odio eos corporis!</p>
                  </div>
              </div>

              <div class="swiper-slide card">
                  <div class="testimonial-col">
                      <div class="user">
                          <img src="/images/stock-photo-happy-indian-student-academic-gown.jfif" alt="">
                          <div class="user-info">
                              <h4>AMANDA VAN VYK <i class="fa fa-twitter"></i></h4>
                              <small>@amanda.van23</small>
                          </div>
                      </div>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur quam nobis debitis sint
                          minus
                          quibusdam ducimus iusto illum dolore dicta modi nostrum, repellat quaerat temporibus
                          consequuntur
                          excepturi iste libero aliquid, ex natus. Cum sint possimus itaque dolorum? Asperiores,
                          accusamus
                          iusto deleniti assumenda ducimus pariatur quae mollitia aliquid odio eos corporis!</p>
                  </div>
              </div>
              <div class="swiper-slide card">
                  <div class="testimonial-col">
                      <div class="user">
                          <img src="/images/tutorsimg.jpg" alt="">
                          <div class="user-info">
                              <h4>Angie Mogan<i class="fa fa-twitter"></i></h4>
                              <small>@angie-Mogan12</small>
                          </div>
                      </div>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur quam nobis debitis sint
                          minus
                          quibusdam ducimus iusto illum dolore dicta modi nostrum, repellat quaerat temporibus
                          consequuntur
                          excepturi iste libero aliquid, ex natus. Cum sint possimus itaque dolorum? Asperiores,
                          accusamus
                          iusto deleniti assumenda ducimus pariatur quae mollitia aliquid odio eos corporis!</p>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </section><!-- End Recent Blog Posts Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-content">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-5 col-md-12 footer-info">
            <a href="/" class="logo d-flex align-items-center">
              <span>Thuto Pele</span>
            </a>
            <p>Knowledge breeds power. It also breeds a wealth of traits to drive and improve the human experience.Education is power because it gives people knowledge. But education can go beyond the base of knowledge by engaging the learner. Engagement breeds all kinds of other powerful traits. The world’s brightest inventors, a country’s powerful leader were each born from their having an education.</p>
            <div class="social-links d-flex  mt-3">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>

          <div class="col-lg-2 col-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bi bi-dash"></i> <a href="/">Home</a></li>
              <li><i class="bi bi-dash"></i> <a href="/about">About us</a></li>
              <li><i class="bi bi-dash"></i> <a href="#">Services</a></li>
              <li><i class="bi bi-dash"></i> <a href="#">Terms of service</a></li>
              <li><i class="bi bi-dash"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bi bi-dash"></i> <a href="/contact">Web Design</a></li>
              <li><i class="bi bi-dash"></i> <a href="/contact">Web Development</a></li>
              <li><i class="bi bi-dash"></i> <a href="#">Product Management</a></li>
              <li><i class="bi bi-dash"></i> <a href="#">Marketing</a></li>
              <li><i class="bi bi-dash"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
            <h4>Contact Us</h4>
            <p>
              1406 Sunnyheights <br>
              Mmametlhake, Ba-Mokgoko<br>
              0432 <br><br>
              <strong>Phone:</strong> +27 60 946 8452<br>
              <strong>Email:</strong> thabangmabena12@gmail.com<br>
            </p>

          </div>

        </div>
      </div>
    </div>

    <div class="footer-legal">
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>Thuto Pele</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nova-bootstrap-business-template/ -->
          Designed by <a href="#">T Mabena</a>
        </div>
      </div>
    </div>
  </footer><!-- End Footer --><!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
  <script src="https://kit.fontawesome.com/5dd83d6fa5.js" crossorigin="anonymous"></script>
  <!-- Vendor JS Files -->
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/aos/aos.js"></script>
  <script src="/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/javascript/main.js"></script>

</body>

</html>